@model TransportesMR.Models.Empresa

@{
    ViewData["Title"] = "Crear Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: #FF0102;
    }
</style>

<!-- BARRA SUPERIOR -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Empresa</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-action="Index">Listado de Empresas</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@ViewData["Title"]</h4>
            </div><!-- end card header -->
            <div class="card-body">

                <div class="live-preview">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <form method="post" asp-action="CrearEmpresa">

                        <div class="row g-3">
                            <!--FILA 1-->
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Rut" class="form-control" placeholder="Ingrese el Rut" />
                                    <label asp-for="Rut"></label>
                                    <span asp-validation-for="Rut"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="RazonSocial" class="form-control" placeholder="Ingrese la razon social">
                                    <label asp-for="RazonSocial"></label>
                                    <span asp-validation-for="RazonSocial"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Giro" class="form-control" placeholder="Ingrese el Giro">
                                    <label asp-for="Giro"></label>
                                    <span asp-validation-for="Giro"></span>
                                </div>
                            </div>
                            
                            <!--FILA 2-->
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="NombresEncargado" class="form-control" placeholder="Ingrese los Nombres" />
                                    <label asp-for="NombresEncargado"></label>
                                    <span asp-validation-for="NombresEncargado"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="ApellidosEncargado" class="form-control" placeholder="Ingrese los Apellidos">
                                    <label asp-for="ApellidosEncargado"></label>
                                    <span asp-validation-for="ApellidosEncargado"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="TelefonoEncargado" class="form-control" placeholder="Ingrese el Teléfono">
                                    <label asp-for="TelefonoEncargado"></label>
                                    <span asp-validation-for="TelefonoEncargado"></span>
                                </div>
                            </div>

                            <!--FILA 3-->                            
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="EmailContacto" class="form-control" placeholder="Ingrese el Email">
                                    <label asp-for="EmailContacto"></label>
                                    <span asp-validation-for="EmailContacto"></span>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-floating">
                                    <input asp-for="Direccion" class="form-control" placeholder="Ingrese la direccion">
                                    <label asp-for="Direccion"></label>
                                    <span asp-validation-for="Direccion"></span>
                                </div>
                            </div>
                            
                            <!--FILA 4-->
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Crear Empresa</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





