@model TransportesMR.ViewModels.CamionMarcaVM 
@{
    ViewData["Title"] = "Crear Camion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .field-validation-error{
        color:#FF0102;
    }
</style>

<!-- BARRA SUPERIOR -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Camiones</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-action="Index">Listado de camiones</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@ViewData["Title"]</h4>
            </div><!-- end card header -->
            <div class="card-body">               
                
                <div class="live-preview">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <form method="post" asp-action="CrearCamion">
                        
                        <div class="row g-3">
                            <!--FILA 1-->
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Camion.IdCamion" class="form-control" placeholder="Ingrese el Número de Camión" />
                                    <label asp-for="Camion.IdCamion"></label>                                    
                                    <span asp-validation-for="Camion.IdCamion"></span>                                    
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Camion.Patente" class="form-control" placeholder="Ingrese la Patente">
                                    <label asp-for="Camion.Patente"></label>
                                    <span asp-validation-for="Camion.Patente"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Camion.NumeroMotor" class="form-control" placeholder="Ingrese el Número de Motor">
                                    <label asp-for="Camion.NumeroMotor"></label>
                                    <span asp-validation-for="Camion.NumeroMotor"></span>
                                </div>
                            </div>

                            <!--FILA 2-->
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Camion.Chasis" class="form-control" placeholder="Ingrese el Número de Chasis" />
                                    <label asp-for="Camion.Chasis"></label>
                                    <span asp-validation-for="Camion.Chasis"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                     <input asp-for="Camion.Cilindrada" class="form-control" placeholder="Ingrese Cilindrada">
                                    <label asp-for="Camion.Cilindrada"></label>
                                    <span asp-validation-for="Camion.Cilindrada"></span>
                                </div>
                            </div>
                            
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Camion.Año" class="form-control" placeholder="Ingrese el Año" />
                                    <label asp-for="Camion.Año"></label>
                                    <span asp-validation-for="Camion.Año"></span>
                                </div>
                            </div>
                            <!--FILA 3-->
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <select asp-for="Camion.Estado" class="form-select">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                    <label asp-for="Camion.Estado"></label>
                                    <span asp-validation-for="Camion.Estado"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    @Html.DropDownListFor(u => u.Camion.IdCamion, Model.ListaMarca,"--Lista de marcas--",
                        new {id = "cmbMarcas",@class = "form-control" })
                         @*<label asp-for="Camion.MarcaVehiculo.Marca"></label>
                        <span asp-validation-for="Camion.IdMarca" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <select asp-for="Camion.IdModelo" class="form-select" id="cmbModelos">
                                    </select>
                                    <option value="Camion.IdModelo" selected></option>
                                    <label asp-for="Camion.IdModelo"></label>
                                    <span asp-validation-for="Camion.IdModelo"></span>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="form-floating">
                                    <input asp-for="Camion.Color" class="form-control" placeholder="Ingrese el Color" />
                                    <label asp-for="Camion.Color"></label>
                                    <span asp-validation-for="Camion.Color"></span>
                                </div>
                            </div>

                            <!--FILA 4-->
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="hidden" asp-for="Camion.FechaRegistro" class="form-control" placeholder="Ingrese la fecha" value="18-11-2022" />
                                    @*<label asp-for="Camion.FechaRegistro"></label>*@
                                    <span asp-validation-for="Camion.FechaRegistro"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Crear Trabajador</button>
                                </div>
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/camiones.js"></script>

    }